%button {
  width: 132px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  font-size: 15px;
  font-weight: 500;
  color: $white;
  transition: 0.4s;
  &:hover {
    background: $green;
    transition: 0.4s;
    color: $white;
    border: 1px solid $green;
  }
  &:active {
    transform: translate(1px, 3px);
    transition: 0.2s;
  }
}
