@import 'vars';
@import 'libs';
@import 'fonts';
@import 'mixins';
@import 'extends';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 20px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: inherit;
  cursor: pointer;
  outline: none;
}

select {
  outline: none;
}

.container {
  max-width: 1415px;
  margin: 0 auto;
}

.logo {
  justify-self: center;
  align-self: center;
  margin-left: 5px;
}

.button {
  @extend %button;
  margin: 0 10px;
  background: $orange;
}

.title {
  max-width: 480px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: $black;
  font-family: 'Playfair Display', sans-serif;
  @media screen and(max-width:830px) {
    font-size: 30px;
  }
  @media screen and(max-width:500px) {
    text-align: center;
    font-size: 26px;
  }
}
.subtitle {
  font-family: Mulish, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  color: #7d7987;
  max-width: 450px;
  @media screen and(max-width:830px) {
    font-size: 15px;
  }
  @media screen and(max-width:500px) {
    text-align: center;
  }
}

.header {
  min-height: 100vh;
  &__top {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    align-items: center;
    column-gap: 10px;
    padding-top: 45px;
    position: relative;
    @media screen and(max-width:450px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      padding-top: 10px;
    }
  }

  &__nav {
    @media screen and(max-width:450px) {
      order: 3;
    }
    &-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and(max-width:768px) {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: $green;
        justify-content: space-around;
        transform: scale(0);
        transition: 0.5s;
        border-radius: 50%;
      }
      @media screen and(max-width:450px) {
        flex-direction: column;
        height: 100%;
        bottom: -100%;
      }

      &--open {
        transition: 0.5s;
        transform: scale(1);
        border-radius: 0%;
      }

      li {
        position: relative;
        margin: 0 17.5px;
        font-size: 16px;
        padding: 13px 0;
        overflow: hidden;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 0.5px;
          background: $green;
          transition: 0.4s;
          transform: translateY(15px);
        }
        &:hover {
          &:after {
            transform: translateY(5px);
          }
        }

        &:active {
          transform: translateY(2px);
          transition: 0.1s;
        }

        a {
          color: #b8becd;
          &:focus {
            color: $black;
          }
          @media screen and(max-width:768px) {
            color: $white;
          }
        }
      }
    }
    &-burger {
      position: relative;
      display: none;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      z-index: 10;
      transition: 0.3s;
      @media screen and(max-width:768px) {
        display: block;
      }
      span {
        @extend %burger;
        &:before {
          content: '';
          @extend %burger;
          transform: translateY(-7px);
          transition: 0.3s;
        }
        &:after {
          content: '';
          @extend %burger;
          transform: translateY(7px);
          transition: 0.3s;
        }
      }

      &--active {
        span {
          height: 0;
          &:before {
            transform: translateY(0px) rotate(45deg);
            transition: 0.3s;
          }
          &:after {
            transform: translateY(0px) rotate(-45deg);
            transition: 0.3s;
          }
        }
      }
    }
  }
  &__flex {
    display: flex;
    @media screen and(max-width:450px) {
      justify-content: center;
    }
  }
  &__login {
    @extend %button;
    margin: 0 10px;
    color: $orange;
    @media screen and(max-width:768px) {
      margin: 0 5px;
    }
  }
  &__register {
    margin: 0 10px;
    @media screen and(max-width:768px) {
      margin: 0 5px;
    }
  }
  &__content {
    padding: 70px 10px 0 60px;
    background: url('../img/header-img.jpg') no-repeat 100% 5%;
    @media screen and(max-width:768px) {
      padding: 50px 30px 0 30px;
    }
    @media screen and(max-width:520px) {
      padding-top: 20px;
    }
    @media screen and(max-width:400px) {
      background-position: 70% 0%;
    }
  }
  &__title {
    max-width: 356px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    @media screen and(max-width:768px) {
      font-size: 54px;
    }
    @media screen and(max-width:520px) {
      font-size: 44px;
      line-height: 60px;
      margin-top: 0;
    }
  }
  &__subtitle {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 32px;
      height: 2px;
      border-radius: 4px;
      background: #202336;
    }
    @media screen and(max-width:520px) {
      font-size: 18px;
    }
  }
  &__form {
    margin-top: 70px;
    max-width: 470px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and(max-width:400px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-select {
      width: 220px;
      height: 52px;
      margin-bottom: 35px;
      position: relative;
      @media screen and(max-width:520px) {
        width: 45%;
        height: 45px;
        margin-bottom: 25px;
      }
      @media screen and(max-width:400px) {
        width: 70%;
        margin-bottom: 10px;
      }
      &:after {
        content: '';
        position: absolute;
        right: -40px;
        top: calc(50% - 3px);
        width: 9.5em;
        height: 6px;
        background: url('../img/select.svg') no-repeat center;
      }
    }
    &-item {
      appearance: none;
      width: 100%;
      height: 100%;
      padding-left: 30px;
      border: 0.8px solid #afb0b9;
      border-radius: 6px;
      font-size: 15px;
      line-height: 32px;
      color: #4a4c53;
      background: $white;
      &:focus {
        border: 1px solid $green;
      }
    }
    &-submit {
      margin: 15px 0 0 0;
    }
  }
}

//about

.about {
  &__wrapper {
    padding: 240px 60px 100px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/cross.svg') no-repeat 50% 20%;
    @media screen and(max-width:768px) {
      flex-direction: column;
    }
    @media screen and(max-width:500px) {
      padding: 150px 10px 100px 10px;
    }
  }
  &__content {
    background: url('../img/circle.svg') no-repeat 80% 90%;
    margin-left: 20px;
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__img {
    max-width: 650px;
    height: auto;
    img {
      height: auto;
      max-width: 100%;
    }
  }
  &__subtitle {
    margin-top: 20px;
  }
  &__button {
    margin-top: 30px;
    margin-left: 0;
    @media screen and(max-width:500px) {
      margin: 30px auto 0 auto;
    }
  }
}

// destinations

.destinations {
  padding: 240px 60px 50px 60px;
  @media screen and(max-width:500px) {
    padding: 150px 10px 100px 10px;
  }
  @media screen and(max-width:768px) {
    padding-top: 150px;
  }
  @media screen and(max-width:340px) {
    padding-top: 50px;
  }
  &__wrapper {
    padding-bottom: 50px;
    background: url('../img/circle.svg') no-repeat 70% 0%,
      url('../img/cross.svg') no-repeat 0% 70%,
      url('../img/circle.svg') no-repeat 40% 100%;
    @media screen and(max-width:800px) {
      background: url('../img/circle.svg') no-repeat 90% 0%,
        url('../img/cross.svg') no-repeat 0% 70%,
        url('../img/circle.svg') no-repeat 40% 100%;
    }
    @media screen and(max-width:400px) {
      background: url('../img/circle.svg') no-repeat 100% 3%,
        url('../img/cross.svg') no-repeat 0% 70%,
        url('../img/circle.svg') no-repeat 40% 100%;
    }
  }
  &__title {
    margin-left: 105px;
    @media screen and(max-width:768px) {
      margin-left: 50px;
    }
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__countries {
    position: relative;
    max-width: 1200px;
    margin: 55px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 40px;
    @media screen and(max-width:1240px) {
      max-width: 800px;
    }
  }
  &__view-all {
    position: absolute;
    min-width: 80px;
    top: -80px;
    right: 100px;
    color: $orange;
    cursor: pointer;
    svg {
      margin-left: 10px;
    }
    &:hover {
      svg {
        animation: view-arrow 1s linear infinite;
      }
    }
    @media screen and(max-width:1240px) {
      right: 140px;
    }
    @media screen and(max-width:800px) {
      top: -40px;
    }
    @media screen and(max-width:340px) {
      right: 60px;
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  &__img {
    max-width: 260px;
    height: auto;
    border-radius: 8px;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 60px;
    background: $white;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    &-title {
      font-size: 17px;
      font-weight: 600;
      line-height: 25px;
      color: #042521;
      margin-top: 11px;
    }
    &-subtitle {
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      color: #7d7987;
    }
  }
}

// guides

.guides {
  &__wrapper {
    padding: 240px 60px 100px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../img/cross.svg') no-repeat 40% 78%,
      url('../img/circle.svg') no-repeat 10% 35%;
    @media screen and(max-width:768px) {
      flex-direction: column-reverse;
      background: url('../img/cross.svg') no-repeat 70% 90%,
        url('../img/circle.svg') no-repeat 10% 35%;
      padding-top: 150px;
    }
    @media screen and(max-width:500px) {
      padding: 150px 10px 100px 10px;
    }
    @media screen and(max-width:340px) {
      padding-top: 50px;
    }
  }
  &__content {
    margin-right: 20px;
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__title {
    @media screen and(max-width:768px) {
      margin-top: 20px;
    }
  }

  &__subtitle {
    margin-top: 20px;
  }

  &__button {
    margin-top: 30px;
    margin-left: 0;
    @media screen and(max-width:500px) {
      margin: 30px auto 0 auto;
    }
  }
  &__img {
    max-width: 650px;
    height: auto;
    img {
      height: auto;
      max-width: 100%;
    }
  }
}

// testimonials

.testimonials {
  &__wrapper {
    padding: 240px 60px 100px 60px;
    @media screen and(max-width:768px) {
      padding-top: 150px;
    }
    @media screen and(max-width:500px) {
      padding: 150px 10px 100px 10px;
    }
    @media screen and(max-width:340px) {
      padding-top: 50px;
    }
  }
  &__title {
    @media screen and(max-width:768px) {
      margin-left: 50px;
    }
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and(max-width:650px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__content {
    margin-top: 145px;
    @media screen and(max-width:1024px) {
      margin-top: 80px;
    }
    @media screen and(max-width:850px) {
      margin-top: 40px;
    }
    @media screen and(max-width:768px) {
      margin-left: 50px;
    }
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__stars {
    svg {
      width: 25px;
      height: 24px;
    }
    @media screen and(max-width:500px) {
      text-align: center;
      margin-top: 20px;
    }
  }
  &__quote {
    max-width: 450px;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Mulist', sans-serif;
    margin-top: 30px;
    @media screen and(max-width:850px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media screen and(max-width:500px) {
      text-align: center;
      font-size: 17px;
    }
  }
  &__name {
    font-size: 22px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 40px;
    @media screen and(max-width:500px) {
      text-align: center;
    }
  }
  &__about {
    font-size: 18px;
    line-height: 48px;
    @media screen and(max-width:500px) {
      text-align: center;
    }
  }
  &__slider {
    width: 384px;
    height: 490px;
    margin-left: 20px;
    position: relative;
    @media screen and(max-width:850px) {
      height: 400px;
    }
    @media screen and(max-width:768px) {
      height: 350px;
    }
    @media screen and(max-width:650px) {
      margin-top: 20px;
      width: 280px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 32px;
      height: 32px;
      left: -12px;
      bottom: -12px;
      background: url('../img/cross.svg') no-repeat center;
      z-index: 10;
    }
    &:after {
      content: '';
      position: absolute;
      width: 42px;
      height: 42px;
      top: -16px;
      right: -20px;
      background: url('../img/circle.svg') no-repeat center;
      z-index: -1;
    }
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 14px;
    }
    &-buttons {
      position: absolute;
      background: $white;
      width: 132px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      bottom: 0;
      z-index: 5;
      border-top-left-radius: 16px;
    }
    &-prev {
      margin: 0 10px;
      svg {
        transform: rotate(180deg);
      }
    }
    &-next {
      margin: 0 10px;
    }
    &-img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: 1s all linear;
      &--hidden {
        opacity: 0;
      }
    }
  }
}

// testimonials

.stories {
  &__wrapper {
    padding: 240px 60px 100px 60px;
    background: url('../img/cross.svg') no-repeat 40% 10%,
      url('../img/circle.svg') no-repeat 65% 90%;
    @media screen and(max-width:768px) {
      padding-top: 150px;
      background: url('../img/cross.svg') no-repeat 40% 5%,
        url('../img/circle.svg') no-repeat 65% 95%;
    }
    @media screen and(max-width:500px) {
      padding: 150px 10px 100px 10px;
    }
    @media screen and(max-width:340px) {
      padding-top: 50px;
    }
  }
  &__title {
    margin-left: 105px;
    @media screen and(max-width:768px) {
      margin-left: 50px;
    }
    @media screen and(max-width:500px) {
      margin: 0;
    }
  }
  &__content {
    margin-top: 56px;
    position: relative;
    max-width: 1200px;
    margin: 55px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 40px;
    @media screen and(max-width:1240px) {
      max-width: 800px;
    }
  }

  &__view-all {
    position: absolute;
    min-width: 80px;
    top: -80px;
    right: 100px;
    color: $orange;
    cursor: pointer;
    svg {
      margin-left: 10px;
    }
    &:hover {
      svg {
        animation: view-arrow 1s linear infinite;
      }
    }
    @media screen and(max-width:1240px) {
      right: 140px;
    }
    @media screen and(max-width:800px) {
      top: -40px;
    }
    @media screen and(max-width:340px) {
      right: 60px;
    }
  }
  &__item {
    overflow: hidden;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr 1fr 1fr / 1fr;
    &-title {
      font-size: 17px;
      line-height: 30px;
      font-weight: 700;
      padding-right: 10px;
    }
  }
  &__img {
    max-width: 260px;
    height: 230px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__description {
    padding-right: 10px;
    font-size: 15px;
    line-height: 26px;
    color: #7d7987;
  }
  &__read-more {
    justify-self: start;
    align-self: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    color: $orange;
  }
}

// footer

.footer {
  background: #f9f9fb;

  &__wrapper {
    padding: 70px 20px 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 15px;
    @media screen and(max-width:900px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @media screen and(max-width:570px) {
      grid-template-rows: repeat(4, 1fr) 150px;
    }
  }

  &__info {
    max-width: 390px;
    @media screen and(max-width:900px) {
      grid-column: 1/5;
      text-align: center;
      justify-self: center;
    }
    @media screen and(max-width:570px) {
      grid-column: 1/5;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: Mulish, sans-serif;
    color: #848484;
    margin-top: 26px;
  }
  &__copyright {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: Mulish, sans-serif;
    color: #848484;
    margin-top: 55px;
    @media screen and(max-width:900px) {
      margin-top: 20px;
    }
  }

  &__destinations {
    @media screen and(max-width:570px) {
      text-align: center;
      grid-column: 1/5;
      grid-row: 2/3;
    }
  }

  &__shop {
    @media screen and(max-width:570px) {
      text-align: center;
      grid-column: 1/5;
      grid-row: 3/4;
    }
  }

  &__interests {
    @media screen and(max-width:570px) {
      text-align: center;
      grid-column: 1/5;
      grid-row: 4/5;
    }
  }

  &__menu {
    @media screen and(max-width:900px) {
      justify-self: center;
      padding-bottom: 20px;
    }
  }
  &__title {
    font-family: Mulish, sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 30px;
    @media screen and(max-width:900px) {
      margin-bottom: 10px;
    }
  }
  &__list {
    li {
      margin: 5px 0;
      a {
        font-family: Mulish, sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 38px;
        color: #848484;
      }
    }
  }
  &__networks {
    padding-top: 30px;
    grid-column: 1/5;
    align-self: center;
    text-align: center;
    border-top: 0.6px solid #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    display: block;
    margin: 0 12.5px;
    svg {
      width: 28px;
      height: 20px;
    }
    &:hover {
      transform: translateY(2px);
    }
  }
}

@keyframes view-arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}
